// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

/***********************************
 * Import Github style sheet.
 ***********************************/
@import "github_style";


/***********************************
 * Style the body.
 ***********************************/
body {
    line-height: 1.7em;
    font-size: 1em;
}

body>div {
    background: none;
}

body>div>div {
    background: none;
    border-right-width: 0px;
}

html {
    background: none;
}


/***********************************
 * Style the header.
 ***********************************/
body>header {
    background: #FFFFFF !important;
    border-bottom: 1px solid #CCCCCC;
}

body>header h1 a {
    color: #333333 !important;
}

body>header h2 {
    font-family: 'Sorts Mill Goudy', serif;
    font-Style: italic;
    color: #990100 !important;
}

time {
    color: #990100 !important;
}

/***********************************
 * Style article titles.
 ***********************************/
article>header h1 {
    font-weight: normal;
    font-size: 2.6em;
    color: #333333 !important;
}

article>header h1 a:hover {
    color: #333333 !important;
}

article h2 {
    font-weight: bold;
    font-size: 1.8em;
}

article h3 {
    font-weight: bold;
    font-size: 1.6em;
    color: #333333 !important;
}

article h4 {
    font-weight: bold;
    font-size: 1.4em;
    color: #333333 !important;
}

article h5 {
    font-weight: bold;
    font-size: 1.2em;
    color: #333333 !important;
}

/***********************************
 * Style the nav bar.
 ***********************************/
body>nav {
    background: none !important;
    background-color: #333333 !important;
    border: none;
}

body>nav a {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.4em;
    text-shadow: none !important;
}

body>nav li+li, a {
    border-left: none !important;
}

body>nav form .search {
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    -webkit-border-radius: 4px !important;
    -moz-border-radius: 4px !important;
    border-radius: 4px !important;
    background-color: white !important;
    border: 1px solid #eee;
}

body>nav>ul>li a:link, a:visited {
    color: #FFFFFF;
}

body>nav a:active {
    color: #D01040;
}

body>nav a:visited {
    color: #FFFFFF;
}

/***********************************
 * Style paragraph <p>.
 ***********************************/
p {
    font-size: 1.1em;
}

p>em {
    font-size: 1em !important;
    color: #B90504 !important;
}

p>strong {
    font-size: 1em !important;
    color: #B90504 !important;
}

p>code {
    font-size: 0.8em !important;
}


/***********************************
 * Style link <a>.
 ***********************************/
a:link, a:active, a:visited {
    color: #B90504;
    text-decoration: none !important;
}

/***********************************
 * Style of the blockquote
 ***********************************/
blockquote {
    border-left: 4px solid #838383 !important;
    background-color: #eee !important;
    padding-top: 0.3em;
    padding-right: 0.5em;
}

blockquote>p {
    color: #333333 !important;
    font-size: 0.8em;
}

blockquote>footer {
    text-align: right !important;
}

blockquote>footer>strong {
    font-weight: normal !important;
    font-size: 0.7em !important;
}

blockquote>footer>cite a {
    font-size: 0.7em !important;
}

/***********************************
 * Style the table.
 ***********************************/
table {
    margin-bottom: 20px;
}

td, th {
    padding: 5px 15px 5px 5px;
}

th {
    color: #B90504;
}

tr {
    border: 1px solid #eee;
}

thead {
    background-color: #eee;
}

/***********************************
 * Style the code block.
 ***********************************/
figure.code, .gist-file, pre {
    box-shadow: none !important;
}

.highlight, .gist-highlight {
    background: none !important;
}

.highlight code, pre {
    background: #f8f8f8 !important;
}

.highlight .line-numbers, html .gist .gist-file .gist-syntax .highlight .line_numbers {
    background: #eee !important;
    border-right: 1px solid #eee !important;
    text-shadow: none !important;
    font-size: 12px;
}

.highlight .line-numbers span, html .gist .gist-file .gist-syntax .highlight .line_numbers span {
    color: #333333 !important;
    font-size: 12px;
}

.highlight {
    -webkit-border-radius: 4px !important;
    -moz-border-radius: 4px !important;
    border-radius: 4px !important;
}

.highlight,html .gist .gist-file .gist-syntax .gist-highlight {
    border: 1px solid #eee !important;
}

.code-title, html .gist .gist-file .gist-meta a[href*='#file'], h3.filename, figure.code figcaption {
    border: 0px;
}

pre {
    border: 1px solid #eee !important;
    font-size: 12px;
}

div.highlight pre {
    font-size: 13px;
    border-radius: none;
    border: 0px;
    box-shadow: none;
    font-size: 12px;
}

p code, li code {
    font-size: 11px;
}

.highlight code {
    background: #f8f8f8 !important;
}

.highlight td, th {
    padding: 0px;
}

.highlight table {
    margin-bottom: 0px;
}

pre::-webkit-scrollbar, .highlight::-webkit-scrollbar, .gist-highlight::-webkit-scrollbar {
    //background-color: #333333;
}

/***********************************
 * Style the block code caption
 ***********************************/
figure.code figcaption {
    font-family: 'Sorts Mill Goudy', serif;
    font-style: italic;
    font-size: 1em;
    background: none;
    text-shadow: none;
}

figure.code figcaption a {
    text-shadow: none;
    color: #B90504 !important;
    right: 0 !important;
    padding-left: 0px !important;
    position: relative !important;
}

/***********************************
 * Style the footer
 ***********************************/
body>footer {
    background: none !important;
    background-color: #333333 !important;
    text-shadow: none;
    color: #FFFFFF !important;
    border-top: none;
}

.credit a {
    color: #B90504 !important;
}


/***********************************
 * Style of the TOC
 ***********************************/
 /* TOC SECTION */
 #toc-container {
   -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.05);
   box-shadow: 0 1px 2px rgba(0,0,0,0.05);
   border-color: #ddd;
   background-color: #fff;
   border: 1px solid #ddd;
   padding: 0;
   margin: 0 0 15px 0;
   min-width: 300px;
 }

 .toc-title {
   margin-top: 0;
   margin-bottom: 0;
   font-size: 16px;
   color: inherit;
 }

 #toc-container>ul {
   padding: 0;
   margin: 0 0 0 15px;
 }

 #toc-listing {
   margin: 10px;
   padding: 0px;
   font-size: 0.95em;
 }

 .toc-list-item {
   padding-left:15px;
 }

 .toc-item {
   list-style: none;
   margin: 0;
   padding: 0;
 }

 .tocnumber {
   font-weight: bold;
 }

 .toc-heading {
   padding: 7px 12px;
   border-bottom: 1px solid transparent;
   color: #333;
   background-color: #f5f5f5;
   border-color: #ddd;
   background-image: -webkit-linear-gradient(top, #f5f5f5 0, #e8e8e8 100%);
   background-image: linear-gradient(to bottom, #f5f5f5 0%,#e8e8e8 100%);
   background-repeat: repeat-x;
   filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5f5f5', endColorstr='#ffe8e8e8', GradientType=0);
 }
