// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

body {
    line-height: 1.7em;
    font-size: 1em;
}

body>div {
    background: none;
}

body>div>div {
    background: none;
    border-right-width: 0px;
}

html {
    background: none;
}

figure.code, .gist-file, pre {
    box-shadow: none !important;
}

.highlight, .gist-highlight {
    background: none !important;
}

.highlight code, pre {
    background: #f8f8f8 !important;
}

.highlight .line-numbers, html .gist .gist-file .gist-syntax .highlight .line_numbers {
    background: #f8f8f8 !important;
    border-right: 1px solid #eee !important;
    text-shadow: none !important;
    font-size: 12px;
}

.highlight .line-numbers span, html .gist .gist-file .gist-syntax .highlight .line_numbers span {
    color: #aaa !important;
    font-size: 12px;
}

.highlight {
    -webkit-border-radius: 4px !important;
    -moz-border-radius: 4px !important;
    border-radius: 4px !important;
}

.highlight,html .gist .gist-file .gist-syntax .gist-highlight {
    border: 1px solid #e7e7e7 !important;
}

.code-title, html .gist .gist-file .gist-meta a[href*='#file'], h3.filename, figure.code figcaption {
    border: 0px;
}

pre {
    border: 1px solid #eee !important;
    font-size: 12px;
}

div.highlight pre {
    font-size: 13px;
    border-radius: none;
    border: 0px;
    box-shadow: none;
    font-size: 12px;
}

p code, li code {
    font-size: 11px;
}

.highlight code {
    background: #f8f8f8 !important;
}

@import "github_style";
