// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

/*
 * Import Github style sheet.
 */
@import "github_style";


/*
 * Style the body.
 */
body {
    line-height: 1.7em;
    font-size: 1em;
}

body>div {
    background: none;
}

body>div>div {
    background: none;
    border-right-width: 0px;
}

html {
    background: none;
}


/*
 * Style the header.
 */
body>header {
    background: none !important;
    border-bottom: 1px solid #eee;
}

body>header h1 a {
    color: #8D7966 !important;
}

body>header h2 {
    font-family: 'Sorts Mill Goudy', serif;
    font-Style: italic;
    color: #A8A39D !important;
}

time {
    color: #A8A39D !important;
}

/*
 * Style the nav bar.
 */
body>nav {
    background: none !important;
    background-color: none !important;
    border: none;
}

body>nav a {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.4em;
}

p {
    font-size: 1.1em;
}

p>em {
    font-size: 0.9em !important;
    color: #8D7966 !important;
}

p>strong {
    font-size: 0.9em !important;
    color: #8D7966 !important;
}

blockquote {
    border-left: 4px solid #E2DDD9 !important;
    background-color: #F8F1E9 !important;
}

blockquote>p {
    color: #A8A39D !important;
    font-size: 0.8em;
}

body>nav li+li, a {
    border-left: none !important;
}

body>nav form .search {
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    -webkit-border-radius: 4px !important;
    -moz-border-radius: 4px !important;
    border-radius: 4px !important;
    background-color: white !important;
    border: 1px solid #eee;
}

/*
 * Style link <a>.
 */
a:link, a:active, a:visited {
    color: #d01040;
    text-decoration: none !important;
}

/*
 * Style the table.
 */
table {
    margin-bottom: 20px;
}

td, th {
    padding: 5px 15px 5px 5px;
}

th {
    color: red;
}

tr {
    border: 1px solid #eee;
}

thead {
    background-color: #eee;
}

/*
 * Style the code block.
 */
figure.code, .gist-file, pre {
    box-shadow: none !important;
}

.highlight, .gist-highlight {
    background: none !important;
}

.highlight code, pre {
    background: #f8f8f8 !important;
}

.highlight .line-numbers, html .gist .gist-file .gist-syntax .highlight .line_numbers {
    background: #D8C8B8 !important;
    border-right: 1px solid #D8C8B8 !important;
    text-shadow: none !important;
    font-size: 12px;
}

.highlight .line-numbers span, html .gist .gist-file .gist-syntax .highlight .line_numbers span {
    color: #8D7966 !important;
    font-size: 12px;
}

.highlight {
    -webkit-border-radius: 4px !important;
    -moz-border-radius: 4px !important;
    border-radius: 4px !important;
}

.highlight,html .gist .gist-file .gist-syntax .gist-highlight {
    border: 1px solid #eee !important;
}

.code-title, html .gist .gist-file .gist-meta a[href*='#file'], h3.filename, figure.code figcaption {
    border: 0px;
}

pre {
    border: 1px solid #eee !important;
    font-size: 12px;
}

div.highlight pre {
    font-size: 13px;
    border-radius: none;
    border: 0px;
    box-shadow: none;
    font-size: 12px;
}

p code, li code {
    font-size: 11px;
}

.highlight code {
    background: #f8f8f8 !important;
}

.highlight td, th {
    padding: 0px;
}

.highlight table {
    margin-bottom: 0px;
}

/*
 * Style the block code caption
 */
figure.code figcaption {
    font-family: 'Sorts Mill Goudy', serif;
    font-style: italic;
    font-size: 1em;
    background: none;
    text-shadow: none;
}

figure.code figcaption a {
    text-shadow: none;
    color: red !important;
    right: 0 !important;
    padding-left: 0px !important;
    position: relative !important;
}


/*
 * Style Plunkr block code
 */
.header {
    background-color: #ffffff;
}

.description {
    color: #000000;
}
